html {
    scroll-behavior: smooth;
}

/* NOTE: 
    BG color: #aad4cf
    2ndary color: #d4e9e7 */

/* NAVBAR  */
.navbar li {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 1.5rem;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.navbar li:last-child {
    border: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar li a:hover {
    color: #176d63;

}

/* NAVBAR END */


/* MAIN BODY AND REST OF CONTENT */
body {
    width: 1024px;
    margin: auto;
    background-color: #aad4cf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content {
    background-color: #d4e9e7;
    padding: 1rem;
}

.starfish-facts {
    text-decoration: dotted;
}

/* BODY - HEADINGS */
h1 {
    font-size: 2rem;
    font-weight: 500;

}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
}

/* BODY - TOP BANNER WITH TITLE & STARFISH IMG */
.topbanner {
    width: 100%;
    position: relative;
}

.topbanner h3 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    bottom: 6rem;
    width: 100%;
    text-align: center;
}

.square-left-float {
    float: left;
    width: 150px;
    padding: 0.5rem;
}

.starfish-icon {
    width: 100%;
    height: auto;
}

.starfish-facts {
    list-style-type: disc;
    list-style-position: inside;
}

/* CONTACT FORM STARTS HERE */

.form-wrapper {
    border: 2px solid black;
    padding: 1rem;
}

form input[type=text],
textarea {
    width: 99%;
    margin-top: 5px;
}

.radio-form {
    display: inline-block;
}

.form-wrapper button {
    text-decoration: none;
    background-color: #d4e9e7;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

/* FOOTER */
footer {
    text-align: right;
    padding: 1rem;
}